# if you're a bachelor or master thesis student, your network file-system folder should be the following:
NFS_USER_DIR=/vol/csedu-nobackup/project/${USER}

# name of the project
# this is used for naming some directories, e.g. when setting up the virtual environment
PROJECT_NAME=vector-space
